<md-list>
  <md-list-item
    ng-repeat="o in organNavigation.organs track by $index"
    ng-click="o.navigateTo()"
    class="fme-organs-navigation"
    ng-class="{active: o.isActive()}"
  >
    <fme-status-icon props="{status: o.getStatusService().get().status, mdAvatar: true}"></fme-status-icon>
    <p>{{o.name | uppercase}}</p>
    <fme-notification-icon
      class="md-secondary"
      hide-empty="true"
      organ-name="{{o.name}}"
    ></fme-notification-icon>
  </md-list-item>
</md-list>
