{
  "parser": "babel-eslint",
  "extends": "angular",
  "rules": {
    "angular/definedundefined": 0,
    "angular/module-getter": 0,
    "angular/module-setter": 0,
    "angular/log": 0,
    "angular/di-unused": 1,
    "angular/di": [2, "$inject"]

  }
}
